<div class="container-fluid section community-tools">    
	<div class="container">		
				<div class="row">
					<div class="col-md-4 col-links">
						<p><i class="ti-comment-alt icon"></i></p>
						<h3>MinCoin Community</h3>
						<ul class="news-list font-sm">							
							<li>								
								<h4><a href="https://www.mincoin.us/category/cryptocurrency-news/" title="Cryptocurrency News">More Cryptocurrency News</a></h4>								
							</li>
						</ul>
					</div>
					<div class="col-md-4 col-links">
						<p><i class="ti-hummer icon"></i></p>
						<h3>MinCoin Community</h3>
						<ul class="news-list font-sm">
							<li>
								
								<h4><a href="#">Is MinCoin The Digital Commodity Solution?</a> </h4>
								
							</li>
							<li>								
								<h4><a href="#">Is MinCoin The Digital Commodity Solution?</a> </h4>								
							</li>
							<li>								
								<h4><a href="#">Is MinCoin The Digital Commodity Solution?</a> </h4>								
							</li>
							<li>								
								<h4><a href="#">Is MinCoin The Digital Commodity Solution?</a> </h4>								
							</li>
							<li>								
								<h4><a href="#">Is MinCoin The Digital Commodity Solution?</a> </h4>								
							</li>
						</ul>
					</div>
					<div class="col-md-4 col-links">
						<ul class="news-list font-sm">							
							<li>								
								<h4><a href="https://www.mincoin.us/category/cryptocurrency-news/" title="Cryptocurrency News">More Cryptocurrency News</a></h4>								
							</li>
						</ul>
					</div>
				</div>
			</div>
		
</div>