---
layout: post
title : "Cryptocurrency News"
pagination: 
  enabled: true
  categories: CryptocurrencyNews
  permalink: /:num/ 
  trail: 
    before: 2 # The number of links before the current page
    after: 2  # The number of links after the current page  
---

  <div class="container">
    <div class="block-wrapper inner-content" >
	<div class="row">
	{% for post in paginator.posts %}
		{% if post.categories contains 'CryptocurrencyNews' %}
		   <div class="blog-list">
				<div class="col-md-8 col-md-push-2 col-sm-7 post-content">
				  <h3 class="post-title heading"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
				  
				  <small>{{post.description}}</small>
				  <p class="post-description">{{post.content | strip_html | truncate:250}} <a href="{{ site.baseurl }}{{ post.url }}" class="more-link">Read More</a></p>
				 
				</div>
				<div class="clearfix"></div>
			</div>
		{% endif %}
	{% endfor %}



      
		</div>
      </div>
    </div>
    <!-- pagination -->
	<div class="text-center">
	 <div class="clearfix"></div>
           <ul class="pager hide {% if page.pageShow == "true"  %} show {% endif %} "  >
            {% if page.previous.url != " " %}
            <li class="previous"><a href="{{page.previous.url}}">← Pre</a></li>
            {% endif %}
            {% if page.next.url != " " %}
            <li class="next"><a href="{{page.next.url}}">Next →</a></li>
            {% endif %}
          </ul>


	{% if paginator.total_pages > 1 %}
	

	<ul class="pager" >
	  {% if paginator.previous_page %}
	  <li class="previous">
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
	  </li>
	  {% endif %}
	  {% if paginator.next_page %}
	  <li class="next">
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
	  </li>
	  {% endif %}
	</ul>
	{% endif %}
    </div>

	
	
	